{% if items is not empty %}
    {% for item in items %}
        {% set url = item.menu | mUrl %}
        <p>
            <div class="card">
                <div class="card-header">

                    {% if url is not empty %}
                        <a href="{{ url }}">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </div>
                <div class="card-body">
        <p class="card-text">{{ item.preview }}</p>
        {% if url is not empty %}
            <a href="{{ url }}" class="btn btn-primary">Read more</a>
        {% endif %}
        </div>
        </div>
        </p>
    {% endfor %}
{% endif %}